// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

@use 'fonts';

$font: 'futura book';
$font-bold: 'futura bold';
$font-heavy: 'futura heavy';
$font-light: 'futura light';
$neue: 'bebas neue';

// ---------- variables ----------
// $font:'Roboto', sans-serif;
$colorTitle: #80bc00;
$colorText: #FFFFFF;

$color-primary:#FFFFFF;
$color-secundary: #19341a;

$title-size: 5rem;
$subtitle-size: 2.8rem;
$text-size: 1.8rem;